doctype html
head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    
    title Online Multiplayer Game
    
    // Js
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery.min.js")
    script(src='/javascripts/babylon.js')
    script(src='/javascripts/babylon.gui.min.js')
    script(src="/javascripts/socket.js")

    style.
        html, body {
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #renderCanvas {
            width: 100%;
            height: 100%;
            touch-action: none;
        }
        
canvas#renderCanvas(onmousemove='crossReset()' <='' canvas='')

script.
    const data = !{values};
    const socketIO = io.connect('/dynamic-' + data["no"])
    socket(data["name"],socketIO)

script(src="/javascripts/game.js")