head
  title GAME
form(method='POST' action='/game')
  | NAME : 
  input#name(placeholder='Name' name='name')
  |             ROOM Id : 
  input#no(placeholder='ROOM Id' name='no')
  input(type='submit')
